# Data from the Toronto Regional Real Estate Board 
## We need to perform some data cleaning
Let's start and read the CSV

In [42]:
import pandas as pd

trreb_df = pd.read_csv("TRREB_data_raw.csv")

## Rename columns and drop nulls

In [43]:
# Rename columns for consistency
trreb_df.columns = [col.strip().lower().replace(' ', '_') for col in trreb_df.columns]

# Handle missing values
trreb_df = trreb_df.dropna()  # Drop rows with missing values (or handle differently)

In [44]:
trreb_df.head(20)

                                      address beds  ...       sqft   listing#
0           50 Orchid Place Dr Room 1 Toronto    1  ...  1000-1199   E9416947
1              330 Village Green Sq 8 Toronto    1  ...  1200-1399   E9399099
2                     3 Falaise Rd A2 Toronto    1  ...  1400-1599  E10431570
3                10 Eddystone Ave 241 Toronto    1  ...  1200-1399  W10407655
4                   872 Browns Line 2 Toronto    1  ...  1000-1199  W10423767
5               55 Cedarcroft Blvd 12 Toronto    1  ...  1200-1399  C10441325
6                   177 Linus Rd 1014 Toronto    1  ...    900-999   C9295556
7           350 Alton Towers Circ 907 Toronto  1+1  ...    700-799   E9381394
8                     57 Finch Ave 27 Toronto    1  ...    900-999  C10884899
9            11753 Sheppard Ave E 420 Toronto    1  ...  1000-1199  E10422806
10               E18 Orchid Pl Room 2 Toronto    1  ...  1000-1199  E10415851
11                   1121 Bay St 1402 Toronto    1  ...  1000-1199   C9398305
12                1378 Danforth Ave 3 Toronto    1  ...    600-699   E9396307
13                     7 Falaise Rd A Toronto    1  ...      0-499   E9255134
14  420 Lake Shore G02 Blvd W 2nd Bed Toronto    1  ...      0-499   C9256479
15                757 Dovercourt Rd F Toronto    1  ...      0-499  W10929171
16                   909 Bay St 604-S Toronto    1  ...  1000-1199   C9284109
17                17 Bathurst St 2901 Toronto  1+1  ...    500-599   C9282402
18                   3 Sudbury St 302 Toronto    1  ...    700-799   C9752090
19                 6A Leaside Park Dr Toronto    1  ...  2500-2749  C10432649

[20 rows x 7 columns]

## Get sqft range and average

In [45]:
# Get the average
# Split the 'sqft' column into min and max
trreb_df[['sqft_min', 'sqft_max']] = trreb_df['sqft'].str.split('-', expand=True).astype(int)

# Calculate the average
trreb_df['sqft_avg'] = (trreb_df['sqft_min'] + trreb_df['sqft_max']) / 2

In [46]:
trreb_df.head()

                             address beds  baths  ... sqft_min  sqft_max sqft_avg
0  50 Orchid Place Dr Room 1 Toronto    1      1  ...     1000      1199   1099.5
1     330 Village Green Sq 8 Toronto    1      2  ...     1200      1399   1299.5
2            3 Falaise Rd A2 Toronto    1      1  ...     1400      1599   1499.5
3       10 Eddystone Ave 241 Toronto    1      2  ...     1200      1399   1299.5
4          872 Browns Line 2 Toronto    1      1  ...     1000      1199   1099.5

[5 rows x 10 columns]

## Let's see what unique values we have in "type" column and convert

In [47]:
trreb_df['type'].unique()

array(['Condo Townhouse Multi-Level', 'Condo Townhouse 3-Storey',
       'Condo Townhouse Stacked Townhse', 'Condo Apt 2-Storey',
       'Condo Apt Multi-Level', 'Condo Townhouse 2-Storey',
       'Condo Apt Apartment', 'Condo Apt Bachelor/Studio',
       'Room Apartment', 'Room 3-Storey', 'Shared Room Apartment',
       'Upper Level Apartment', 'Other Apartment', 'Co-Op Apt Apartment',
       'Comm Element Condo 2-Storey', 'Co-Ownership Apt Apartment',
       'Comm Element Condo Apartment',
       'Comm Element Condo Bachelor/Studio', 'Condo Apt Loft',
       'Other Multi-Level', 'Condo Apt Other',
       'Condo Townhouse Apartment', 'Comm Element Condo Stacked Townhse',
       'Comm Element Condo Multi-Level', 'Condo Apt Stacked Townhse',
       'Condo Townhouse Loft', 'Co-Op Apt Bachelor/Studio',
       'Condo Apt Industrial Loft', 'Comm Element Condo Other',
       'Comm Element Condo Loft', 'Condo Apt 3-Storey'], dtype=object)

In [48]:
# Mapping rules for 'Type'
type_mapping = {
    'Condo Apt': 'Condo Apartment',
    'Condo Townhouse': 'Condo Townhouse',
    'Room': 'Room',
    'Shared Room': 'Shared Room',
    'Upper Level': 'Upper Level',
    'Co-Op Apt': 'Co-Op Apartment',
    'Co-Ownership Apt': 'Co-Ownership Apartment',
    'Comm Element Condo': 'Common Element Condo',
    'Other': 'Other'
}

# Extract 'Type'
trreb_df['Type'] = trreb_df['type'].apply(lambda x: next((type_mapping[key] for key in type_mapping if key in x), 'Other'))

# Mapping rules for 'Style'
style_mapping = [
    '2-Storey', '3-Storey', 'Apartment', 'Bachelor/Studio', 'Multi-Level', 
    'Stacked Townhse', 'Loft', 'Industrial Loft', 'Other'
]

# Extract 'Style'
def extract_style(value):
    for style in style_mapping:
        if style in value:
            return style
    return 'Other'

trreb_df['Style'] = trreb_df['type'].apply(extract_style)

# Display the resulting DataFrame
trreb_df.head()

                             address beds  ...             Type            Style
0  50 Orchid Place Dr Room 1 Toronto    1  ...  Condo Townhouse      Multi-Level
1     330 Village Green Sq 8 Toronto    1  ...  Condo Townhouse         3-Storey
2            3 Falaise Rd A2 Toronto    1  ...  Condo Townhouse  Stacked Townhse
3       10 Eddystone Ave 241 Toronto    1  ...  Condo Apartment         2-Storey
4          872 Browns Line 2 Toronto    1  ...  Condo Apartment      Multi-Level

[5 rows x 12 columns]

## The last step is to convert from addres to geometries (lat, long)

## Finally, export the csv as a cleaned file

In [49]:
# Let's export the cleaned .csv

# file name
output_file = "TRREB_data_cleaned.csv"

# Export the DataFrame to a CSV file
trreb_df.to_csv(output_file, index=False)  # index=False prevents writing row numbers as a column

print(f"DataFrame successfully exported to {output_file}")

DataFrame successfully exported to TRREB_data_cleaned.csv

In [51]:
import pandas as pd
from geopandas.tools import geocode
from time import sleep

# Load the CSV file
input_file = "TRREB_data_cleaned.csv"  # Update with your actual file path
output_file = "TRREB_data_with_lat_long.csv"  # Output file path
df = pd.read_csv(input_file)

# Initialize columns for latitude and longitude
df['LAT'] = None
df['LONG'] = None

# Geocode each address
for index, row in df.iterrows():
    try:
        # Geocode the address
        gdf = geocode([row['address']], provider="nominatim", user_agent="trreb_geocoding_script", timeout=10)
        # Extract latitude and longitude
        df.loc[index, 'LAT'] = gdf.geometry.y.values[0]
        df.loc[index, 'LONG'] = gdf.geometry.x.values[0]
        print(f"Geocoded: {row['address']} -> LAT: {df.loc[index, 'LAT']}, LONG: {df.loc[index, 'LONG']}")
        sleep(1)  # Add delay to respect API rate limits
    except Exception as e:
        print(f"Error geocoding address: {row['address']} - {e}")
        df.loc[index, 'LAT'] = None
        df.loc[index, 'LONG'] = None

# Save the DataFrame with LAT and LONG columns
df.to_csv(output_file, index=False)
print(f"Geocoding completed. Results saved to {output_file}")

Geocoded: 50 Orchid Place Dr Room 1 Toronto -> LAT: nan, LONG: nan
Geocoded: 330 Village Green Sq 8 Toronto -> LAT: nan, LONG: nan
Geocoded: 3 Falaise Rd A2 Toronto -> LAT: nan, LONG: nan
Geocoded: 10 Eddystone Ave 241 Toronto -> LAT: 43.7492225, LONG: -79.5159434
Geocoded: 872 Browns Line 2 Toronto -> LAT: nan, LONG: nan
Geocoded: 55 Cedarcroft Blvd 12 Toronto -> LAT: nan, LONG: nan
Geocoded: 177 Linus Rd 1014 Toronto -> LAT: 43.7912015, LONG: -79.35712272058824
Geocoded: 350 Alton Towers Circ 907 Toronto -> LAT: nan, LONG: nan
Geocoded: 57 Finch Ave 27 Toronto -> LAT: nan, LONG: nan
Geocoded: 11753 Sheppard Ave E 420 Toronto -> LAT: 43.799313999999995, LONG: -79.14848730997079
Geocoded: E18 Orchid Pl Room 2 Toronto -> LAT: nan, LONG: nan
Geocoded: 1121 Bay St 1402 Toronto -> LAT: -33.0090416737854, LONG: 151.59485308848298
Geocoded: 1378 Danforth Ave 3 Toronto -> LAT: nan, LONG: nan
Geocoded: 7 Falaise Rd A Toronto -> LAT: nan, LONG: nan
Geocoded: 420 Lake Shore G02 Blvd W 2nd Bed Toronto -> LAT: nan, LONG: nan
Geocoded: 757 Dovercourt Rd F Toronto -> LAT: nan, LONG: nan
Geocoded: 909 Bay St 604-S Toronto -> LAT: -33.0090416737854, LONG: 151.59485308848298
Geocoded: 17 Bathurst St 2901 Toronto -> LAT: 43.635863031099056, LONG: -79.39839686426792
Geocoded: 3 Sudbury St 302 Toronto -> LAT: 43.6410556, LONG: -79.4181485
Geocoded: 6A Leaside Park Dr Toronto -> LAT: 43.7027844, LONG: -79.3502602
Geocoded: 1378 Danforth Ave 2 Toronto -> LAT: nan, LONG: nan
Geocoded: 10 Capreol Crt 1057 Toronto -> LAT: 43.6403625, LONG: -79.3960908
Geocoded: 57 St Joseph St 1123 Toronto -> LAT: 43.66519640063825, LONG: -79.38965671552323
Geocoded: 10 York St 1107 Toronto -> LAT: 43.6412138, LONG: -79.38116248551198
Geocoded: 104 Regent St Toronto -> LAT: 43.66077526666667, LONG: -79.36502003333334
Geocoded: 99 Broadway Ave 2709 Toronto -> LAT: 43.710498, LONG: -79.393287
Geocoded: 827 Albion Rd Toronto -> LAT: 43.7342503, LONG: -79.5595228
Geocoded: 49 East Liberty St 2603 Toronto -> LAT: 43.638846, LONG: -79.41255399999999
Geocoded: 21 Carlton St 1205 Toronto -> LAT: 43.6611031, LONG: -79.38207272669362
Geocoded: 60 Ann O'reilly Rd 260 Toronto -> LAT: 43.77404921250698, LONG: -79.32951389809479
Geocoded: 47 Mutual St 802 Toronto -> LAT: 43.654317385386136, LONG: -79.37462428905289
Geocoded: 57 St Joseph St 313 Toronto -> LAT: 43.666027643918945, LONG: -79.38515873401624
Geocoded: 25 Adra Grado Way 1026 Br Toronto -> LAT: nan, LONG: nan
Geocoded: 45 Charles St E 2312 Toronto -> LAT: 43.668760199999994, LONG: -79.38385679978354
Geocoded: 25 Carlton St 2007 Toronto -> LAT: 43.66115505926588, LONG: -79.3818169078538
Geocoded: 70 Forest Manor Rd 3308 Toronto -> LAT: 43.7750174, LONG: -79.3461257
Geocoded: 32 Townsend Rd Toronto -> LAT: 43.81102228333334, LONG: -79.35738331666666
Geocoded: 330 Richmond St W 603 Toronto -> LAT: 43.648817272170135, LONG: -79.39270568816704
Geocoded: 1446 Yonge St 7 Toronto -> LAT: 43.64994401029341, LONG: -79.3760778520437
Geocoded: 750 Bay St 1110 Toronto -> LAT: 43.659869, LONG: -79.3858569
Geocoded: 195 McCaul St 1114 Toronto -> LAT: 43.65607, LONG: -79.39205849999999
Geocoded: 448 Spadina Rd 106 Toronto -> LAT: 43.68928275, LONG: -79.41330225984441
Geocoded: 448 Spadina Rd 407 Toronto -> LAT: 43.68928275, LONG: -79.41330225984441
Geocoded: 8 Cumberland St 4702 Toronto -> LAT: 43.671126, LONG: -79.3875666
Geocoded: 90 Glen Everest Rd 308 Toronto -> LAT: 43.703273221982236, LONG: -79.25237271300318
Geocoded: 191 St George St 907 Toronto -> LAT: 13.134531425374895, LONG: -59.54031149711698
Geocoded: 55 Bremner Blvd 3207 Toronto -> LAT: 43.64226615, LONG: -79.38077014941278
Geocoded: 191 St George St 707 Toronto -> LAT: 13.134531425374895, LONG: -59.54031149711698
Geocoded: 1 Falaise Rd 101 Toronto -> LAT: 43.7685055, LONG: -79.18878235000001
Geocoded: 2191 Yonge St 811 Toronto -> LAT: 43.64994401029341, LONG: -79.3760778520437
Geocoded: 2 Kingston Rd 16 Toronto -> LAT: 43.66820831785714, LONG: -79.31229768571428
Geocoded: 126 Dundas St E 205 Toronto -> LAT: 43.6567513, LONG: -79.3763846
Geocoded: 4 Kingston Rd 39 Toronto -> LAT: nan, LONG: nan
Geocoded: 12 Kingston Rd 77 Toronto -> LAT: nan, LONG: nan
Geocoded: 195 McCaul St 219 Toronto -> LAT: nan, LONG: nan
Geocoded: 120 Parliament St 1307 Toronto -> LAT: 43.65399869230769, LONG: -79.36390769230769
Geocoded: 156 Kingston Rd 10 Toronto -> LAT: nan, LONG: nan
Geocoded: 156 Kingston Rd 306 Toronto -> LAT: 43.671137099999996, LONG: -79.3113884093893
Geocoded: 10 Kingston Rd 92 Toronto -> LAT: nan, LONG: nan
Geocoded: 15 Fort York Blvd 4503 Toronto -> LAT: 43.64004, LONG: -79.393893
Geocoded: 18 Yorkville Ave 505 Toronto -> LAT: 43.67208105, LONG: -79.38788825238953
Geocoded: 156 Kingston Rd 216 Toronto -> LAT: 43.671137099999996, LONG: -79.3113884093893
Geocoded: 39 Brant St 716 Toronto -> LAT: 43.6465184, LONG: -79.3981156
Geocoded: 2135 Avenue Rd 102 Toronto -> LAT: 43.7391255, LONG: -79.42079720063629
Geocoded: 414 Jarvis St E 104 Toronto -> LAT: 43.650427994243614, LONG: -79.37188021322311
Geocoded: 414 Jarvis St E 207 Toronto -> LAT: 43.649880451957536, LONG: -79.371647470325
Geocoded: 1 Triller Ave 207 Toronto -> LAT: 43.63785585, LONG: -79.443289531171
Geocoded: 195 McCaul St 1309 Toronto -> LAT: 43.65607, LONG: -79.39205849999999
Geocoded: 77 Shuter St 2015 Toronto -> LAT: 43.654819, LONG: -79.37534136173437
Geocoded: 2362 Islington Ave 14 Toronto -> LAT: nan, LONG: nan
Geocoded: 127 Broadway Ave 302 Toronto -> LAT: 43.710398100000006, LONG: -79.3922121
Geocoded: 781 St Clair Ave W 5 Toronto -> LAT: 43.6726706397162, LONG: -79.46677003487213
Geocoded: 500 Wilson Ave 637 Toronto -> LAT: 43.735174349999994, LONG: -79.44509105
Geocoded: 127 Broadway Ave 1507 Toronto -> LAT: 43.710398100000006, LONG: -79.3922121
Geocoded: 117 Broadway Ave 308 Toronto -> LAT: 43.71033215, LONG: -79.39257512318929
Geocoded: 420 Eglinton Ave E 301 Toronto -> LAT: 43.7097968, LONG: -79.38530680916062
Geocoded: 191 St George St 804 Toronto -> LAT: 43.6716392, LONG: -79.40109888396861
Geocoded: 2515 Eglinton Ave W 301 Toronto -> LAT: 43.69093185, LONG: -79.47063559844511
Geocoded: 77 SHUTER St 1915 Toronto -> LAT: 43.654819, LONG: -79.37534136173437
Geocoded: 127 Broadway Ave 1610 Toronto -> LAT: 43.710398100000006, LONG: -79.3922121
Geocoded: 117 BROADWAY Ave N 311 Toronto -> LAT: 43.71381757681983, LONG: -79.37800371397147
Geocoded: 1 Triller Ave 308 Toronto -> LAT: 43.63785585, LONG: -79.443289531171
Geocoded: 630 Queen St E 416 Toronto -> LAT: 43.658461, LONG: -79.35266458933862
Geocoded: 1401 Dupont St 227 Toronto -> LAT: 43.666168049999996, LONG: -79.44663585247164
Geocoded: 105 The Queensway 409 Toronto -> LAT: 43.6367934, LONG: -79.4708781
Geocoded: 9 Croham Rd 215 Toronto -> LAT: nan, LONG: nan
Geocoded: 9 Croham Rd 314 Toronto -> LAT: 43.692792, LONG: -79.4640162
Geocoded: 2895 Bathurst St 309 Toronto -> LAT: 43.7147729, LONG: -79.4283435283297
Geocoded: 3 Swift Dr 409 Toronto -> LAT: 43.7266725, LONG: -79.31776235805424
Geocoded: 219 Dundas St E 2215 Toronto -> LAT: 43.657314, LONG: -79.373234
Geocoded: 251 Jarvis St 318 Toronto -> LAT: 43.657546234042556, LONG: -79.37461538297872
Geocoded: 1401 Dupont St 123 Toronto -> LAT: 43.666168049999996, LONG: -79.44663585247164
Geocoded: 887 bay St 1612 Toronto -> LAT: -33.0090416737854, LONG: 151.59485308848298
Geocoded: 195 McCaul St 419 Toronto -> LAT: 43.65607, LONG: -79.39205849999999
Geocoded: 399 Dupont St 202 Toronto -> LAT: 43.67352, LONG: -79.4119485
Geocoded: 117 Broadway Ave 312 Toronto -> LAT: 43.71033215, LONG: -79.39257512318929
Geocoded: 230 Simcoe St 2213 Toronto -> LAT: 43.653568210526316, LONG: -79.38887689473684
Geocoded: 65 St Mary St 2502 Toronto -> LAT: 43.667899400653205, LONG: -79.38629219669664
Geocoded: 20 Meadowglen Pl 634 Toronto -> LAT: 43.774500892116755, LONG: -79.22948106890597
Geocoded: 127 Broadway Ave 1006 Toronto -> LAT: 43.710398100000006, LONG: -79.3922121
Geocoded: 896 Eglinton Ave E 110 Toronto -> LAT: 43.71425535, LONG: -79.36282842410738
Geocoded: 1195 The Queensway 209 Toronto -> LAT: 43.638598655785174, LONG: -79.44654255090724
Geocoded: 1195 The Queensway 208 Toronto -> LAT: 43.638598655785174, LONG: -79.44654255090724
Geocoded: 230 Simcoe St 2220 Toronto -> LAT: 43.653568210526316, LONG: -79.38887689473684
Geocoded: 1401 Dupont St 232 Toronto -> LAT: 43.666168049999996, LONG: -79.44663585247164
Geocoded: 1407 Dupont St 202 Toronto -> LAT: 43.6662555, LONG: -79.44763755
Geocoded: 165 Cosburn Ave 602 Toronto -> LAT: 43.6897768, LONG: -79.34552499172445

KeyboardInterrupt:

In [52]:
print(df)

                                address beds  ...        LAT       LONG
0     50 Orchid Place Dr Room 1 Toronto    1  ...        NaN        NaN
1        330 Village Green Sq 8 Toronto    1  ...        NaN        NaN
2               3 Falaise Rd A2 Toronto    1  ...        NaN        NaN
3          10 Eddystone Ave 241 Toronto    1  ...  43.749223 -79.515943
4             872 Browns Line 2 Toronto    1  ...        NaN        NaN
...                                 ...  ...  ...        ...        ...
3351         993 Queen St W 417 Toronto    1  ...       None       None
3352           2 Avenue Rd 1401 Toronto  1+1  ...       None       None
3353    180 University Ave 3104 Toronto    1  ...       None       None
3354    180 University Ave 1904 Toronto    1  ...       None       None
3355          150 Logan Ave 233 Toronto    1  ...       None       None

[3356 rows x 14 columns]

In [56]:
# Filter the first 100 rows
subset_df = df.head(100)

# Calculate the number of rows with NaN in LAT or LONG
error_count = subset_df[['LAT']].isna().any(axis=1).sum()

# Calculate the error percentage
total_rows = len(subset_df)
error_percentage = (error_count / total_rows) * 100

print(f"Error Percentage: {error_percentage:.2f}%")

Error Percentage: 21.00%

In [54]:
print(total_rows)

100